.button1 {
    background-color: blue;
}
.button2 {
    background-color: green;
}
.button3 {
    background-color: yellow;
}
.button4 {
    background-color: orange;
}
.button5 {
    background-color: red;
}
.button6 {
    background-color: purple;
}
.button7 {
    background-color: white;
}
